body {
    background-color: rgb(152, 57, 240);
    margin: 0;
}
nav {
    background-color: rgb(220, 158, 77);
    max-height: 20vh;
    width: 100vw;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo {
    color: azure;
    font: 900 24px Poppins;
}
ul {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    
    margin: 0px;
    gap: 16px;
}
li  {
    list-style-type: none;
}
.right-side-links {
    padding: 16px;
    
}
.right-side {
    
}
a {
    text-decoration: none;
    color: azure;
    font: 900 18px Poppins;
}